page-login {

  .round_img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  
  }

    .content{
        background: url(../../assets/img/content-background.png) no-repeat;
        background-size: 100% 100%;
        font-family: Microsoft JhengHei;
    }

    form{
        margin-top: 30px;
        background-color: rgba(0,0,0,0);
    }

    .input{
        background-color: rgba(0,0,0,0);
        border: 0px;
        color: white;
    }

    .password{
        margin-bottom: 20px;
    }

    form .button{
        background-color: rgba(0,0,0,1);
        opacity: 1;
        font-size: 18px
    }
}
