page-login {

  .round_img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  
  }

}
