<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="transparent">
    <ion-title *ngIf="is_login!=true">Login</ion-title>
    <ion-title *ngIf="is_login==true">
        <div class="title">{{user.username}}</div>
    </ion-title>
    <ion-buttons end>
      <button *ngIf="is_login==true" color="primary" ion-button  icon-only (click)="get_user()" [navPush]="pushPage" [navParams]="params">編輯</button>
    </ion-buttons>
  </ion-navbar>
  

</ion-header>


<ion-content padding class="content">
  <ion-list *ngIf="is_login!=true">
    <form [formGroup]="loginForm">
      <ion-item class="input" no-lines>
        <ion-label color="light">Email</ion-label>
        <ion-input class="input" [value]="email" formControlName="email" type="email" id="email" spellcheck="false" autocapitalize="off" clearOnEdit>
        </ion-input>
      </ion-item>
      <ion-item class="input password" no-lines>
        <ion-label color="light">password</ion-label>
        <ion-input [value]="password" formControlName="password" type="password" id="password" spellcheck="false" autocapitalize="off">
        </ion-input>
      </ion-item>
      <button ion-button round full (click)="login()" [disabled]="!loginForm.valid">登入</button>
    </form>
    <ion-row>
      <ion-col><button ion-button round full clear color="primary" (click)="newUser()">註冊</button></ion-col>
      <ion-col><button ion-button round full clear color="primary" (click)="forget()">忘記密碼</button></ion-col>    
    </ion-row>
  </ion-list>
  <div *ngIf="is_login==true">
    <ion-row>
    <ion-col></ion-col> 
    <ion-col center>
      <div class="round_img"><img  [src]="user.picture" height="100"></div>
    </ion-col>  
    <ion-col></ion-col> 
  </ion-row>
  <ion-list center >
    <ion-item>
      <ion-icon name="leaf" item-start></ion-icon>
      Email
      <ion-note item-end>{{user.email}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="leaf" item-start></ion-icon>
      暱稱
      <ion-note item-end>{{user.username}}</ion-note>
    </ion-item>
    <button ion-button round full color="primary" (click)="logout()">登出</button>
  </ion-list>
  </div>
</ion-content>