<!--
  Generated template for the MenuDetail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list class="story">
		<ion-list-header *ngIf="gameProgress.start == 1">
			序章
		</ion-list-header>
		<ion-item *ngFor="let storyScript of storyScript.start">
			{{storyScript}}
		</ion-item>
	</ion-list>
</ion-content>
