<!--
  Generated template for the History page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>history</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
<button *ngIf="showstage1" (click)="redirect1()" ion-button>1</button>
<button *ngIf="showstage2" (click)="redirect2()" ion-button>2</button>
<button *ngIf="showstage3" (click)="show3()" ion-button>3</button>
<button *ngIf="showstage3A" (click)="redirect3A()" ion-button>3-1</button>
<button *ngIf="showstage3B" (click)="redirect3B()" ion-button>3-2</button>
<button *ngIf="showstage3C" (click)="redirect3C()" ion-button>3-3</button>
<button *ngIf="showstage3D" (click)="redirect3D()" ion-button>3-4</button>
<button *ngIf="showstage4" (click)="show4()" ion-button>4</button>
<button *ngIf="showstage4A" (click)="redirect4A()" ion-button>4-1</button>
<button *ngIf="showstage4B" (click)="redirect4B()" ion-button>4-2</button>
<button *ngIf="showstage4C" (click)="redirect4C()" ion-button>4-3</button>
<button *ngIf="showstage5" (click)="show5()" ion-button>5</button>
<button *ngIf="showstage50" (click)="redirect5()" ion-button>5-0</button>
<button *ngIf="showstage5A" (click)="redirect5A()" ion-button>5-1</button>
<button *ngIf="showstage5B" (click)="redirect5B()" ion-button>5-2</button>
<button *ngIf="showstage6" (click)="redirect6()" ion-button>6</button>
<button *ngIf="showstage7" (click)="redirect7()" ion-button>7</button>

<button (click)="back()" ion-button>back</button>
</ion-content>
