page-game {
	.dialogBox{
		// height: 200px;
		opacity: 0.5;
		position: fixed;
		height:300px;
		width: 100%;
		top: 60%;
		margin-bottom: 0px;
		margin-left:0px;
		margin-right: 0px;
		background: gray;
		
	}
	// #touchOne{
	// 	position: fixed;
	// 	z-index:1;
	// 	height:9%;
	// 	width: 18%;
	// 	top: 30%;
	// 	left: 1%;
	// 	margin: 0px;
	// 	border-style:solid;
	// }
	
	.gameWindow{

		height:65%;

    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  
		img{
			max-height: 100%;
		}
		#touchTwo{
			position: fixed;
			z-index:1;
			height:6%;
			width: 10%;
			top: 35%;
			left: 35%;
			margin: 0px;
			border-style:solid;
		}
	}

	.touchOne{
		position: relative;
	}

	.dialogText{
		color: #000;
		position: fixed;
		top: 62%;
		height:300px;
		width: 100%;
		margin-bottom: 0px;
		padding-left: 15px;
		padding-right: 15px;
		font-size:18px;

	}
}
