<!--
  Generated template for the Game page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>遊戲名稱</ion-title>
    <ion-nav id="nav" #content [root]="rootPage"></ion-nav>
    <ion-buttons end>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>>
    </ion-buttons>
    
    <!--<ion-buttons end>
      <button ion-button icon-only (click)="openMenu()">
        <ion-icon name="briefcase"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>

</ion-header>


<ion-content>
	<div class="gameWindow">
    <div class="touchOne" (click)="touchno()">
      <div id="touchTwo" *ngIf="end" (click)="touchyes()"></div>
    </div>
    
	</div>
  
 
	<div class="dialogBox">
	</div>
	<div class="dialogText" (click)="nextDialogText()">
		{{dialogText}}    
    <div *ngIf="place">{{txt}} 
lat:{{lat}} <br>lng:{{lng}} 
      <button ion-button small (click)="test()" >跳過</button>
      <button ion-button small (click)="test2()" >檜意森活村</button>
      <button ion-button small (click)="test3()" >嘉義公園</button>
      <button ion-button small (click)="test4()" >北門驛</button>
      <button ion-button small (click)="test1()" >射日塔跳過</button>
    </div>
	</div>	
</ion-content>


