page-review-page {
	.gameWindow{
	
	
		height:70%;
		width: 100%;

		img{
			height: 100%;
			width:100%;
		}
		}
	.dialogBox{
		opacity: 0.5;
		position: fixed;
		
		width: 100%;
		height: 230px;
		left:0px;
		bottom: 0px;
		background: gray;
	}

	.dialogText{
		color: #000;
		position: fixed;
		top: 67%;
		height:300px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 15px;
		
	}

}
